
body {
	background-color: #fdfeff
} 	

header nav {
  display: flex;
  justify-content: flex-end;
}

header h5 {
	padding: 10px 0px;
	padding-left: 30px; 
}

header {
	padding: 15px 0px;
	color: black;
	background-color: white;
}



#company_name {
	color: #ED7D31; 
	font-family: Arial Rounded MT Bold;
	text-align: center;
	font-size: 100px;
	padding-top: 20px; 
	margin-bottom: 0px;
}

#company_logo {
	width: 90%;
}

#company_slogan {
	color: #ED7D31;
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
}

.company_introduction {
	background-color: #e0fffc;
	padding-top: 5px;
}

#locations {
	font-size: 23px;
	padding-top: 10px; 
	color: #d16805;
	padding: 33px 33px;
}



h3 { 
	font-size: 60px; 
	font-family: Arial Rounded MT Std;
	background-color: #e0fffc;
} 

#mission {
	margin-top: 50px; 
}

#mission.p {
	font-size: 17px;
}

#offers {
	margin-top: 45px; 
}
 

#offers.p {
	font-size: 17px;
}

#ratings {
	margin-top: 45px;
}

.bottom-picture {
	max-width: 1107px;
	margin-top: 10px;
}

footer {
	padding-bottom: 25px; 
	margin-top: 25px;
}
 